<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <h1 class="title">テンプレートマスタ</h1>
      </div>
      <ul class="side_bar">
        <li>
          <a href="">Home</a>
        </li>
        <li>テンプレートマスタ - 新規作成</li>
      </ul>
      <div class="container">
        <div class="row_fluid"></div>
        <div class="alert_info">
          <button type="button" class="close">×</button>
          <strong>URI用keyは詳細ページのURLで使われます。半角英数字で入力してください。</strong>
        </div>
        <div class="edit_details">
          <form name="masterEdit" >
            <label>作品番号</label>
          </form>
          <div class="form_element">
            <input type="text" name="object_no" value style="width: 85%">
            <label>カテゴリ</label>
            <select name="category_id">
              <option value>----</option>
              <option value="1">dummy</option>
            </select>
          </div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
          <div class="form_element"></div>
        </div>
      </div>
    </div>
  </body>
</html>
