<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <header class="header">
      <div class="header_innner">
        <p class="logo">
          <a href="/">
            <img src="/assets/cash_logo.png" alt>
          </a>
        </p>
        <h1 class="title1">Media kit</h1>
      </div>
    </header>
    <section class="contents">
      <p class="header_text">
        <strong>メディア関係の皆様</strong>
        「CASH」に関する素材データとなります。ご自由にご使用ください。
    </p>
    <article class="article" clearfix>
      <!-- <h2 class="article_title"> -->
        <!-- プレリリース -->
      <!-- </h2> -->
      <div class="article_contents">
        <div class="content_details">
          <a href ="/assets/cash_press_release_170628.pdf">
            <span class="date">2018/01/09</span>
            <span class="title">Android版を提供開始</span>
            <span class="pdf">PDF</span>
          </a>
        </div>
        <div class="content_details">
          <a href="/assets/cash_press_release_170824.pdf">
            <span class="date">2017/08/24</span>
            <span class="title">目の前のアイテムが 一瞬でキャッシュに変わるアプリ「CASH(キャッシュ)」再開のお知らせ</span>
            <span class="pdf">PDF</span>
          </a>
        </div>
        <div class="content_details">
          <a href="/assets/cash_press_release_180109.pdf">
            <span class="date">2017/06/28</span>
            <span class="title">目の前のアイテムが 一瞬でキャッシュに変わるアプリ「CASH(キャッシュ)」スタート！</span>
            <span class="pdf">PDF</span>
          </a>
        </div>
      </div>
      <h2 class="article_title">
        プレリリース
      </h2>
    </article>
    <article class="article" clearfix>
      <!-- <h2 class="article_title">
        ロゴ
      </h2> -->
      <div class="article_contents">
        <div class="logo_container">
          <a href="/assets/cash_logo.zip" download="zip">
            <span class="inner_logo">
              <img class="inner_pic" src="/assets/cash_logo2.png" alt>
            </span>
            <span class="download">
              <img class="download_icon" src="/assets/download.png" alt>
            </span>
          </a>
        </div>
      </div>
      <h2 class="article_title">
        ロゴ
      </h2>
    </article>
    <article class="article" clearfix>
      <!-- <h2 class="article_title">
        ムービー
      </h2> -->
      <div class="article_contents">
        <iframe src="https://player.vimeo.com/video/222147673" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="movie_code">
        <div class="movie_code_first" clearfix>
          <p class="movie_code_title">埋め込みコード</p>
            <form class="movie_code_box">
              <textarea readonly>"<iframe src="https://player.vimeo.com/video/222147673" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"</textarea>
            </form>
        </div>
        <div class="movie_code_second">
          <p class="movie_code_title">動画ファイル</p>
            <div class="movie_code_box">
              <a href="https://player.vimeo.com/play/814367001?s=222147673_1503543393_9cd974ad035872f33ef0eb8ba72ba652&loc=external&context=Vimeo%5CController%5CClipController.main&download=1">
                <p class="movie_code_name">cash.mov</p>
                <p class="movie_code_size">Vimeoからダウンロード</p>
                <span class="download2">
                <img class="download_icon" src="/assets/download.png" alt>
                </span>
              </a>
            </div>
        </div>
      </div>
      <h2 class="article_title">
        ムービー
      </h2>
    </article>
    <article class="article2" clearfix>
      <!-- <h2 class="article_title">
        キービジュアル
      </h2> -->
      <div class="article_contents">
        <div class="image">
          <a href="/assets/cash_key_01.png" download="cash_key_01">
            <img class="pictures" src="/assets/cash_key_01.png" alt>
            <span class="download"></span>
          </a>
        </div>
        <div class="image">
          <a href="/assets/cash_key_02.png" download="cash_key_02">
            <img class="pictures" src="/assets/cash_key_02.png" alt>
            <span class="download"></span>
          </a>
        </div>
        <div class="image">
          <a href="/assets/cash_key_03.png" download="cash_key_03">
            <img class="pictures" src="/assets/cash_key_03.png" alt>
            <span class="download"></span>
          </a>
        </div>
      </div>
      <h2 class="article_title">
        キービジュアル
      </h2>
    </article>
    <article class="article3" clearfix>
      <!-- <h2 class="article_title">
        スクリーンショット
      </h2> -->
      <div class="article_contents">
        <div class="screen_shot_set">
          <div class="screen_shot_odd">
            <a href="/assets/cash_screenshot_01.png" download="cash_screenshot_01">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_01.png" alt>
              <span class="download"></span>
            </a>
          </div>
          <div class="screen_shot_even">
            <a href="/assets/cash_screenshot_02.png" download="cash_screenshot_02">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_02.png" alt>
              <span class="download"></span>
            </a>
          </div>
        </div>
        <div class="screen_shot_set">
          <div class="screen_shot_odd">
            <a href="/assets/cash_screenshot_03.png" download="cash_screenshot_03">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_03.png" alt>
              <span class="download"></span>
            </a>
          </div>
          <div class="screen_shot_even">
            <a href="/assets/cash_screenshot_04.png" download="cash_screenshot_04">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_04.png" alt>
              <span class="download"></span>
            </a>
          </div>
        </div>
        <div class="screen_shot_set">
          <div class="screen_shot_odd">
            <a href="/assets/cash_screenshot_05.png" download="cash_screenshot_05">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_05.png" alt>
              <span class="download"></span>
            </a>
          </div>
          <div class="screen_shot_even">
            <a href="/assets/cash_screenshot_06.png" download="cash_screenshot_06">
              <img class="screenshot_pictures" src="/assets/cash_screenshot_06.png" alt>
              <span class="download"></span>
            </a>
          </div>
        </div>
      </div>
      <h2 class="article_title">
        スクリーンショット
      </h2>
    </article>
    <article class="article" clearfix>
      <!-- <h2 class="article_title">
        想い
      </h2> -->
      <div class="article_contents">
        <div class="image">
          <a href="/assets/cash_idea.png" download="cash_idea">
            <img class="last_pic" src="/assets/cash_idea.png" alt>
            <span class="download"></span>
          </a>
        </div>
      </div>
      <h2 class="article_title">
        想い
      </h2>
    </article>
  </section>
    <footer class="footer">
      <p class="logo_footer">
        <a href="/">
          <img src="/assets/logo.png" alt>
        </a>
      </p>
      <p class="copyright">Copyright Bank, Inc All Rights Reserved</p>
    </footer>
  </body>
</html>
